<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yamakja.shop.mapper.OrderMapper">
    <insert id="addOrderDetail">
        INSERT INTO ORDERDETAIL
            (orderid, itemid, quantity)
        VALUES
            (#{order.orderId}, #{cart.itemId}, #{cart.quantity})
    </insert>
    <insert id="saveOrder">
        <selectKey keyProperty="orderId" resultType="integer" order="BEFORE">
            select ORDER_SEQ.NEXTVAL from dual
        </selectKey>
        INSERT INTO ORDERMAIN
        (ORDERID,STATUS,MEMBERID)
        VALUES
        (#{orderId},#{status},#{memberId})
    </insert>

    <select id="getOrder" resultType="com.yamakja.shop.domain.Order">
        SELECT * FROM ORDERMAIN
        WHERE MEMBERID = #{memberId}
    </select>
    <select id="getOrderList" resultType="com.yamakja.shop.domain.OrderItem">
        SELECT ITEM.*, ORDERDETAIL.ORDERID,ORDERDETAIL.QUANTITY
        FROM ORDERDETAIL LEFT JOIN ITEM
        ON ORDERDETAIL.ITEMID = ITEM.ITEMID
        WHERE ORDERDETAIL.ORDERID = #{orderId}
    </select>
</mapper>